.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.hero {
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.button {
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  background-color: #0077ff;
  color: white;
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;
}

.button:hover {
  background-color: #005aff;
}