.chat { 
  z-index: 9999;
  position: absolute;
  bottom: 1%;
  width: 60%;
  height: 30%;
  background-color: rgb(41, 41, 41, .4);
  border: 1px solid rgb(85, 85, 85, .7);
  overflow: hidden;
  left: 20%;
  /* margin: 0 auto; 
  left: 0px;*/
  /* right: 15px; */
  border-radius: 5px;
}
.chat-window { 
  border-color: rgb(229, 231, 235, .7);
  overflow: scroll;
  overflow-x: hidden;
  padding: 10px 10px;
  height: 85%;
  transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}

.chat-window::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.chat-window::-webkit-scrollbar-thumb {
  background: rgba(90, 90, 90);
}

.chat-window::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
} 


 /* .chat-window::-webkit-scrollbar {
  width: 12px;
  background-color: transparent;
}

.chat-window::-webkit-scrollbar-track {
  background-color: transparent;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 10px;
}

.chat-window::-webkit-scrollbar-thumb {
  background-color: transparent; 
  border-radius: 10px;
  background: rgba(145, 145, 145, 0.9);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
} */


.chat-footer { 
  bottom: 0;
  position: relative;
  width: 100%;
  height:15%;
  /*background-color: #f8f8f8;*/
  padding: 3px 3px;
}
.chat-footer .input-wrapper { 
  border-top: 2px solid rgb(229, 231, 235, .7);
  display: inline-block;
  border-radius: 5px;
  /*border: 2px solid rgba(16, 93, 146, 1);*/
  position: relative;
  height: 100%;
  width: 100%;
}
.chat-footer .input-wrapper .chat-input {
  position: absolute;
  height: 100%;
  width: 100%;
  border: none;
  box-sizing: border-box;
  outline-width: 0;
  background-color: rgb(41, 41, 41, .4);
  /*background: rgba(0, 0, 0, 0.3);*/
  padding: 0.9em;
  pointer-events: all;
}

/* Chat containers */
.messages {
  border: 1px solid rgb(229, 231, 235, .1);
  background-color: rgb(41, 41, 41, .2);
  border-radius: 5px;
  padding: 10px;
  margin: 2px 0;
  pointer-events: none;
}

/* Darker chat messages */
.dark {
}

/* Clear floats */
.messages::after {
  content: "";
  clear: both;
  display: table;
}

/* Style images */
.messages img {
  float: left;
  max-width: 25px;
  width: 100%;
  margin-right: 20px;
  /* border-radius: 50%; */
}

/* Style the right image */
/* .messages img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
} */
